.MyGallery-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0px;
    
    margin: 0px auto;
    padding: 20px 0px;
}

.Photo {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    margin: 8px;
    border: 7px solid black;;
}

.Photo:hover {
    border: 10px dotted white ;
    border-radius: 20%;
    height: 350px;
    max-width: 400px;
}

.MyGallery::after {
    content: "";
    width: 350px;
  }