@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.NoResults {
    
    text-align: center;
    font-size: 70px;
    font-family: 'Permanent Marker', cursive;
    border-bottom: 10px double #000;
    margin: 30vh 70vh;
    position: absolute;
}

@media screen and (max-width: 414px) {
	.NoResults {
		border: none;
        margin: 150px 0;
	}
}