.PhotosGallery-container {
	display: flex;
	width: 70%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 0px;
	
	margin: 200px auto 100px auto;
	padding: 20px 0px;
}

@media screen and (max-width: 414px) {
	.MyGallery-container {
		width: 100%;
	}
}



.MyGallery::after {
	content: '';
	width: 350px;
}
