@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

.myheader-container {
	display: flex;
	width: 100%;
	background-color: #ff7619;
	justify-content: center;
	font-family: 'Fuzzy Bubbles', cursive;
	border-bottom: 7px solid #fff591;
	border-top: 7px dotted #fff591;
}

.myheader-title {
	margin: 10px auto;
}
